@model WebApplication3.Models.Student

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить ученика</h2>

<h3>Вы уверены, что хотите удалить этого ученика?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">Фамилия</dt>
        <dd class="col-sm-10">@Model.LastName</dd>
        <dt class="col-sm-2">Имя</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>
        <dt class="col-sm-2">Отчество</dt>
        <dd class="col-sm-10">@Model.MiddleName</dd>
        <dt class="col-sm-2">Дата рождения</dt>
        <dd class="col-sm-10">@(Model.BirthDate.HasValue ? Model.BirthDate.Value.ToShortDateString() : "Не указано")</dd>
        <dt class="col-sm-2">Класс</dt>
        <dd class="col-sm-10">@Model.Class?.Name</dd>
    </dl>

    <form action="/Students/Delete" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="/Students" class="btn btn-secondary">Отмена</a>
        @Html.AntiForgeryToken()
    </form>
</div>